<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Study Buddy</label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/upload">Upload</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
        <li><a href="#">Account</a></li>
      </ul>
    </nav>
    <section>
      <div class="poppy">
        <h1>Need help finding notes?</h1>
      </div>
      <div class="casey">
        <p1>Then this is the website for you. Our website was designed for UNC students to upload their notes for classes they have taken in the past. This way, instead of notes disappearing into thin air, they can be shared with and utilized by future students. Using the search page, select the class you are looking for notes for. All of the classes that have notes in our database will be listed in the dropdown menu. Don't see the class you're looking for? THen you might just have to be the first person to upload notes to our database for that class. Using the upload feature, you can upload pdf notes to be shared with other students. In the future, we hope to implement text recognition software that will allow users to look up keywords.</p1>
      </div>
    </section>
  </body>
</html>