<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Study Buddy</label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/upload">Upload</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
        <li><a href="#">Account</a></li>
      </ul>
    </nav>
    <section>
      <div class="poppy">
        <h1>Need help finding notes?</h1>
      </div>
      <div class="casey">
        <p1>This is the website for you. Upload your notes here and help spread the knowledge. Need help yourself? Search our database for notes for your class.</p1>
      </div>
    </section>
  </body>
</html>